
.category {
  width: 320px;
  margin: 0 auto;
}

.category__decor {
  background-color: $secondary-color;
  padding-bottom: 30px;
  padding-top: 25px;
}

.category__toys {
  background-color: #56c3b2;
  padding-bottom: 30px;
  padding-top: 25px;
}

.category__title {
  font-size: 19px;
  font-weight: bold;
  padding-left: 30px;
  margin: 0;
}

.category__title-link {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .category {
    display: flex;
    width: 668px;
    margin-top: -115px;
    margin-bottom: 45px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 768px;
      height: 20px;
      top: 100px;
      left: -50px;
      background: transparent url("../img/bg-zigzag-fill.svg") repeat;
      background-size: auto 20px;
      z-index: 1;
    }
  }

  .category__title {
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
  }

  .category__decor {
    flex-grow: 1;
  }

  .category__toys {
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .category {
    width: 1050px;
    margin-bottom: 100px;

    &::after {
      width: 1150px;
      background-size: auto;
    }
  }
}
