
.category {
  width: 320px;
  margin: 0 auto;
}

.category__decor {
  background-color: $secondary-color;
  padding-bottom: 20px;
  padding-top: 20px;
}

.category__toys {
  background-color: #56c3b2;
  padding-bottom: 20px;
  padding-top: 20px;
}

.category__title {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 30px;
}

.category__title-link {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .category {
    display: flex;
    width: 768px;
    margin-top: -40px;
    margin-bottom: 100px;
  }

  .category__decor {
    margin-left: 50px;
    width: 335px;
  }

  .category__toys {
    margin-right: 50px;
    width: 335px;
  }
}

@media (min-width: $desktop-width) {
  .category {
    width: 1050px;
  }

  .category__toys,
  .category__decor {
    width: 525px;
  }
}
