.contacts {
  margin-bottom: 30px;
}

.contacts__title  {
  font-size: 18px;
  line-height: 30px;
}

.contacts__email,
.contacts__adress {
  font-size: 15px;
  line-height: 30px;
  color: $dark-grey;
}
.contacts__email-highlight {
  border-bottom: 1px solid $aquamarine;
}
