.contacts {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 7px;
    top: -45px;
    left: 0;
    background: transparent url("../img/bg-zigzag-line.svg") repeat;
    background-size: auto 7px;
  }
}

.contacts__content {
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 25px;
}

.contacts__email,
.contacts__adress {
  line-height: 30px;
  color: $primary-color;
  margin: 0;
}

.contacts__email {
  padding-bottom: 30px;
}

.contacts__adress {
  display: flex;
  justify-content: space-between;
}

.contacts__email-adress {
  border-bottom: 1px solid $secondary-color;
  color: $primary-color;
  margin-left: 25px;
  padding-bottom: 5px;

  &:hover {
    color: $secondary-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__adress-text {
  margin-left: 30px;
}

.contacts__wrapper {
  padding-bottom: 40px;
}

.contacts__map-img {
  position: absolute;
  z-index: -1;
}

.contacts__map-wrapper {
  padding-bottom: 35px;
  position: relative;
}

.contacts__map {
  width: 320px;
  height: 460px;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 768px;
    font-size: 17px;
    margin-bottom: 55px;

    &::before {
      width: 768px;
      height: 16px;
      top: -75px;
      background-size: auto 16px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 82px;
      top: -15px;
      right: 48px;
      background: transparent url("../img/icon-flag.svg") no-repeat;
    }
  }

  .contacts__email-adress {
    margin-left: 20px;
    width: 334px;
  }

  .contacts__adress-text {
    margin-right: 30px;
}

  .contacts__wrapper {
    display: flex;
    padding-bottom: 55px;
  }

  .contacts__content--button-center {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
  }


  .contacts__title {
    @include second-title-tablet;
    padding-bottom: 50px;
  }

  .contacts__content {
    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts__adress {
    margin-left: 50px;
    width: 334px;
  }

  .contacts__map-wrapper {
    padding-bottom: 55px;
  }

  .contacts__write {
    width: 230px;
  }

  .contacts__map {
    width: 768px;
    height: 460px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 175px;
    margin-bottom: 50px;

    &::before {
      width: 1050px;
      height: 23px;
      top: -165px;
      background-size: auto;
    }

    &::after {
      left: 65px;
    }
  }

  .contacts__content {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .contacts__title {
    @include second-title-desktop;
  }

  .contacts__map-wrapper {
    width: 525px;
    margin-top: -75px;
  }

  .contacts__wrapper {
    flex-direction: column;
    padding-right: 15px;
  }

  .contacts__write {
    margin-top: -160px;
  }

  .contacts__adress {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .contacts__adress-text {
    margin-left: 25px;
    margin-right: 35px;
  }

  .contacts__map {
    width: 527px;
    height: 460px;
  }

  .contacts__email-adress {
    padding-bottom: 0;
  }
}
