.contacts {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 37px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 7px;
    top: -35px;
    left: 0;
    background: transparent url("../img/bg-zigzag-line.svg") repeat;
    background-size: auto 7px;
  }
}

.contacts__content {
  padding: 0 30px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 25px;
}

.contacts__email,
.contacts__adress {
  line-height: 30px;
  color: $primary-color;
  margin: 0;
}

.contacts__email {
  padding-bottom: 30px;
}

.contacts__adress {
  display: flex;
  justify-content: space-between;
}

.contacts__email-adress {
  border-bottom: 1px solid $secondary-color;
  color: $primary-color;
  margin-left: 25px;
}

.contacts__adress-text {
  margin-left: 30px;
}

.contacts__wrapper {
  padding-bottom: 40px;
}

.contacts__map-img {
  position: absolute;
  z-index: -1;
}

.contacts__map-wrapper {
  padding-bottom: 35px;
  position: relative;
}


@media (min-width: $tablet-width) {
  .contacts {
    width: 768px;
    font-size: 17px;
    margin-bottom: 55px;

    &::before {
      width: 768px;
      height: 16px;
      top: -55px;
      background-size: auto 16px;
    }
  }

  .contacts__wrapper {
    display: flex;
    padding-bottom: 55px;
  }

  .contacts__content--button-center {
    display: flex;
    justify-content: center;
    padding: 50px 0;
  }

  .contacts__title {
    @include second-title-tablet;
    padding-bottom: 50px;
  }

  .contacts__content {
    padding: 0 50px;
  }

  .contacts__adress {
    margin-left: 45px;
  }

  .contacts__map-wrapper {
    padding-bottom: 55px;
  }

  .contacts__write {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 175px;
    margin-bottom: 45px;

    &::before {
      width: 1050px;
      height: 23px;
      top: -125px;
      background-size: auto;
    }
  }

  .contacts__content {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .contacts__title {
    @include second-title-desktop;
  }

  .contacts__map-wrapper {
    width: 525px;
    margin-top: -60px;
  }

  .contacts__wrapper {
    flex-direction: column;
    padding-right: 45px;
  }

  .contacts__write {
    margin-top: -175px;
  }

  .contacts__adress {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .contacts__adress-text {
    text-align: left;
  }
}
