.copyright {
  width: 260px;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid $greye5;
  margin: 0 30px;
}

.copyright__text {
  font-size: 19px;
  line-height: 19px;
  font-weight: bold;
}

.copyright__link {
  // font-size: 0;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 200px;
    margin-right: 0;
  }
}
