.copyright {
  width: 260px;
  margin: 0 auto;
  border-top: 1px solid $greye5;
  position: relative;
  padding-top: 25px;
}

.copyright__text {
  font-size: 19px;
  line-height: 19px;
  font-weight: bold;
  padding-left: 35px;
}

.copyright__icon {
  position: absolute;
  right: 35px;
  top: 15px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 180px;
    border: none;
    margin: 0;
    padding-top: 10px;
    // text-align: left;
  }

  .copyright__text {
    font-size: 19px;
    line-height: 19px;
    font-weight: bold;
    padding: 0;
  }

  .copyright__icon {
    position: absolute;
    right: -5px;
    top: 0;
  }
}
