.form {
  margin-bottom: 55px;
  padding-left: 30px;
  padding-right: 30px;
}

.form__block {
  padding: 0;
  margin-bottom: 30px;
}

.form__title {
  color: $secondary-color;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding-bottom: 35px;
  &--padding-small {
    padding: 0;
    padding-bottom: 5px;
  }
}

.form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  padding-left: 62px;
  padding-bottom: 20px;
  display: block;
  &--name {
    padding: 0 0 10px 0;
  }
  &--surname {
    padding: 0 0 10px 0;
  }
  &--patronymic {
    padding: 0 0 10px 0;
  }
}

.form__label--size {
    padding-bottom: 42px;
    &:last-child {
      padding-bottom: 10px;
    }
  }


.form__radio,
.form__checkbox {
  display: none;
}

.form__input {
  width: 100%;
  color: $primary-color;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid $black;
  // margin-bottom: 10px;

  &--name {
    padding-bottom: 15px;
    margin-bottom: 25px;
  }
  &--surname {
    padding-bottom: 15px;
    margin-bottom: 25px;
  }
  &--patronymic {
    padding-bottom: 15px;
  }

  &--phone {
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  &--email {
    padding-bottom: 15px;
    margin-bottom: 0px;
  }
}

.form__wrapper-color {
  display: flex;
  flex-direction: column;
}


.form__textarea {
  padding: 14px 17px;
  width: 100%;
  font-size: 17px;
  line-height: 18px;
  color: $primary-color;
  border: 2px solid $primary-color;
  margin-top: 20px;
}

.form__block--add {
  margin-bottom: 10px;
}

.form__legend {
  font-size: 14px;
  line-height: 16px;
  color: $primary-color;
  margin-bottom: 33px;
  display: block;
}

.form__button {
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 0;
  }

  .form__block {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 50px;

    &--bg {
      background-color: $greyf1;
    }
    &--fix {
      margin-bottom: 0;
    }
  }

  .form__wrapper-color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
  }

  .form__wrapper-radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
  }

  .form__label {
    margin-bottom: 40px;
    font-size: 19px;
    line-height: 19px;

    &--size {
      width: 200px;
    }
  }

  .form__wrapper-fullname {
    width: 500px;
    padding-right: 50px;
  }

  .form__input {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 19px;
    line-height: 19px;

    &--name {
      margin-left: 50px;
      width: 400px;
    }

    &--surname,
    &--patronymic {
      margin-left: 90px;
      width: 350px;
    }

    &--phone,
    &--email {
      width: 500px;
      padding-top: 20px;
      margin-right: 50px;
      background-color: $greyf1;
    }
  }

  .form__textarea {
    width: 500px;
    margin-right: 50px;
    margin-bottom: 40px;
    font-size: 19px;
    line-height: 19px
  }

  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__legend {
    order: 1;
    margin-right: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__button {
    width: 230px;
    margin-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper-color {
    width: 738px;
  }

  .form__wrapper-radio {
    width: 738px;
  }

  .form__wrapper-fullname {
    width: 738px;
  }

  .form__input {
    &--name {
      width: 630px;
      margin-left: 20px;
    }

    &--surname,
    &--patronymic {
      margin-left: 30px;
      width: 620px;
    }

    &--phone,
    &--email {
      width: 700px;
    }
  }

  .form__textarea {
    width: 700px;
  }
}
