.form {
  margin-bottom: 55px;
  padding-left: 30px;
  padding-right: 30px;
}

.form__block {
  padding: 0;
  margin-bottom: 30px;
}

.form__title {
  color: $secondary-color;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding-bottom: 35px;

  &--padding-small {
    padding: 0;
    padding-bottom: 5px;
  }
}

.form__label {
  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  padding-left: 62px;
  padding-bottom: 20px;
  display: block;
  cursor: pointer;

  &--name {
    padding: 0 0 10px 0;
  }

  &--surname {
    padding: 0 0 10px 0;
  }

  &--patronymic {
    padding: 0 0 10px 0;
  }

  &--phone {
    position: absolute;
    top: -5px;
    right: 27px;
  }

  &--email {
    position: absolute;
    top: 0;
    right: 10px;
  }
}

.form__label-radio {
  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 35px;
    height: 35px;
    border: 2px solid $black;
    border-radius: 50px;
    cursor: pointer;
  }
}

.form__radio:checked + .form__label-radio {
  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 12px;
    background-color: $aquamarine;
    border-radius: 50px;
  }
}

.form__label-checkbox {
  padding-bottom: 42px;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 38px;
    height: 38px;
    border: 2px solid $black;
    cursor: pointer;
  }

  &:last-child {
    padding-bottom: 10px;
  }
}

.form__checkbox:checked + .form__label-checkbox {
  &::after {
    content: "";
    position: absolute;
    width: 33px;
    height: 23px;
    top: 0;
    left: 5px;
    background: transparent url("../img/icon-tick.svg") no-repeat;
  }
}

.form__radio,
.form__checkbox {
  display: none;
}

.form__input {
  width: 100%;
  color: $primary-color;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid $black;

  &--name {
    padding-bottom: 15px;
    margin-bottom: 25px;
  }

  &--surname {
    padding-bottom: 15px;
    margin-bottom: 25px;
  }

  &--patronymic {
    padding-bottom: 15px;
  }

  &--phone {
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  &--email {
    padding-bottom: 15px;
    margin-bottom: 0;
  }
}

.form__wrapper-color {
  display: flex;
  flex-direction: column;
}

.form__wrapper-phone {
  position: relative;
}

.form__wrapper-email {
  position: relative;
}

.form__textarea {
  padding: 14px 17px;
  width: 100%;
  font-size: 17px;
  line-height: 18px;
  color: $primary-color;
  border: 2px solid $primary-color;
  margin-top: 20px;
}

.form__block--add {
  margin-bottom: 10px;
}

.form__legend {
  font-size: 14px;
  line-height: 16px;
  color: $primary-color;
  margin-bottom: 33px;
  display: block;
}

.form__button {
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 0;
    margin-bottom: 30px;
  }

  .form__block {
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-top: 50px;
    margin-bottom: 0;

    &--bg {
      background-color: $greyf1;
    }
  }

  .form__title {
    width: 170px;
  }

  .form__radio:checked + .form__label-radio {
    &::after {
      width: 20px;
      height: 20px;
      top: 0;
      left: 17px;
    }
  }

  .form__block-color {
    padding-top: 65px;
  }

  .form__wrapper-color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 10px;
  }

  .form__wrapper-radio {
    width: 500px;
  }

  .form__wrapper-email {
    position: relative;
  }

  .form__label {
    margin-bottom: 40px;
    font-size: 19px;
    line-height: 19px;
    padding-left: 0;

    &--name {
      margin: 0;
      margin-right: 25px;
    }

    &--surname {
      margin: 0;
      margin-right: 25px;
    }

    &--patronymic {
      margin: 0;
      margin-right: 25px;
    }

    &--phone {
      top: -5px;
      right: 27px;
    }

    &--email {
      top: 0;
      right: 10px;
    }
  }

  .form__label-radio {
    padding-left: 80px;

    &::before {
      top: -18px;
      width: 50px;
      height: 50px;
    }
  }

  .form__label-checkbox {
    width: 250px;
    padding-bottom: 18px;
    padding-left: 85px;

    &::before {
      width: 50px;
      height: 50px;
      top: -15px;
    }
  }

  .form__checkbox:checked + .form__label-checkbox {
    &::after {
      left: 12px;
    }
  }

  .form__block-fullname {
    padding-top: 65px;
    margin-bottom: 15px;
  }

  .form__wrapper-fullname {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
  }

  .form__block-phone {
    padding-top: 65px;
  }

  .form__block--email {
    padding-top: 35px;
    padding-bottom: 45px;
    margin-bottom: 15px;
  }

  .form__wrapper-phone {
    position: relative;
  }

  .form__input {
    font-size: 19px;
    line-height: 19px;

    &--name {
      flex-basis: 370px;
      padding-left: 18px;
      padding-bottom: 12px;
      width: auto;
      flex-grow: 2;
      margin-bottom: 40px;
    }

    &--surname,
    &--patronymic {
      flex-basis: 370px;
      flex-grow: 2;
      padding-left: 18px;
      padding-bottom: 10px;
      margin-bottom: 40px;
    }

    &--phone,
    &--email {
      width: 500px;
      // padding-top: 20px;
      // margin-right: 50px;
      background-color: $greyf1;
    }
  }

  .form__textarea {
    width: 500px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-size: 19px;
    line-height: 19px;
    margin-top: -15px;
  }

  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .form__legend {
    order: 1;
    margin-right: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__button {
    width: 230px;
    margin-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper-color {
    width: 700px;
  }

  .form__wrapper-radio {
    width: 700px;
  }

  .form__wrapper-fullname {
    width: 700px;
  }

  .form__label {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    padding-left: 83px;

    &--name {
      padding-left: 0;
    }

    &--surname {
      padding-left: 0;
    }

    &--patronymic {
      padding-left: 0;
    }
  }

  .form__label-checkbox {
    width: 180px;
  }

  .form__input {
    &--name {

      margin-bottom: 40px;
      flex-basis: 570px;
    }

    &--surname,
    &--patronymic {
      margin-bottom: 40px;
      flex-basis: 570px;
    }

    &--phone,
    &--email {
      width: 700px;
      margin-left: 0;
      padding: 0;
      padding-bottom: 15px;
    }
  }

  .form__textarea {
    width: 700px;
    margin-bottom: 40px;
  }

  .form__block {
    padding-top: 70px;
  }

  .form__title {
    text-align: center;
  }

  .form__block--email {
    padding-top: 40px;
    padding-bottom: 55px;
  }

  .form__button-wrapper {
    width: 700px;
    margin: 0 auto;
  }

  .form__button {
    width: 230px;
    margin: 0;
  }

  .form__legend {
    margin: 0;
  }
}
