.item-card {
  border: 1px solid $greyed;
  margin: 0 30px 30px 30px;
}

.item-card__title {
  font-size: 17px;
  margin: 0;
  padding-bottom: 5px;
}

.item-card__features {
  font-size: 13px;
  line-height: 30px;
  color: $primary-color;
  margin: 0;
}

.item-card__img {
  width: 260px;
  height: 195px;
  padding-bottom: 20px;
}

.item-card__wrapper-description {
  padding: 0 30px 25px 30px;
}

.item-card__wrapper-down {
  display: flex;
  padding-top: 20px;
  border-top: 1px solid $greyec;
}

.item-card__wrapper-up {
  padding-bottom: 20px;
}

.item-card__add-button {
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .item-card {
    display: flex;
    padding: 0;
    width: 668px;
    justify-content: space-between;
    margin: 50px;
  }

  .item-card__title {
    font-size: 20px;
  }

  .item-card__price {
    font-size: 17px;
  }

  .item-card__features {
    font-size: $main-font-size;
  }

  .item-card__wrapper-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    width: 335px;
  }

  .item-card__wrapper-down {
    display: flex;
    justify-content: space-between;
  }

  .item-card__wrapper-up {
    padding-bottom: 170px;

    &--padding-small {
      padding-bottom: 145px;
    }
  }
}

@media (min-width: $desktop-width) {
  .item-card {
    width: 315px;
    flex-direction: column;
    margin: 0;
    margin-right: 50px;
    min-height: 660px;
  }

  .item-card__wrapper-description {
    padding-left: 25px;
    padding-right: 25px;
  }

  .item-card__wrapper-up {
    padding-bottom: 40px;
  }
}
