.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.main-nav__logo {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid $greyec;
  background-color: $white;
  width: 320px;
}

.main-nav__logo-image {
  width: 86px;
  height: 36px;
  padding-top: 12px;
}

.main-nav__toggle {
  position: absolute;
  right: 29px;
  top: 22px;
  width: 21px;
  height: 21px;
  border: none;
  z-index: 1;
  cursor: pointer;
  background: transparent url("../img/icon-menu-close.svg") no-repeat;
  background-size: cover;
}

.main-nav__list {
  @include list-reset;
}

.main-nav__link {
  color: $black;
  font-family: $font-stack;
  font-weight: bold;
  font-size: 17px;
}

.main-nav__item {
  padding: 15px;
  border-bottom: 1px solid $greyec;

  &--delivery {
    display: none;
  }

  &--hidden {
    display: none;
  }
}
//from demos academy
// .main-nav--opened .main-nav__toggle {
//   background: transparent url("../img/icon-menu-close.svg") no-repeat;
// }

.main-nav--closed .main-nav__toggle {
  width: 22px;
  height: 21px;
  background: transparent url("../img/icon-menu-open.svg") no-repeat;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
  }

  .main-nav__list {
    position: absolute;

    &--user {
      top: 180px;
    }
  }

  .main-nav__item {
    background-color: $white;
    width: 320px;
  }
}


@media (min-width: $tablet-width) {
  .main-nav {
    width: 768px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__logo {
    width: 370px;
    border-bottom: 1px solid $greyec;
    padding-left: 50px;
    text-align: left;
    // position: absolute;
    padding-bottom: 33px;
  }

  .main-nav__item {
    &--catalog {
      border: none;
      padding-left: 50px;
      order: 3;
    }

    &--form {
      padding-right: 125px;
      border: none;
      order: 4;
    }

    &--cart {
      padding-left: 58px;
      // padding-right: 50px;
      order: 2;
      padding-top: 30px;
      padding-bottom: 32px;
    }

    &--delivery {
      border: none;
      font-size: 15px;
      display: inline-block;
      order: 5;
    }
  }

  .main-nav__item--search {
    // width: 85px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
    position: relative;
    order: 1;
    // margin-left: 369px;
  }

  .main-nav__item-icon-search {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__link {
    &--search {
      font-size: 0;
    }

    &--catalog {
      font-size: 15px;
    }

    &--form {
      font-size: 15px;
    }
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1150px;
  }

  .main-nav__logo {
    width: 315px;
    order: 3;
  }

  .main-nav__item {
    &--search {
      order: 4;
      margin-left: 0;
    }

    &--catalog {
      padding-left: 50px;
      padding-top: 30px;
      border-right: 1px solid $greyec;
      border-bottom: 1px solid $greyec;
      width: 235px;
      order: 1;
    }

    &--form {
      // padding-right: 325px;
      padding-left: 35px;
      padding-top: 30px;
      border-bottom: 1px solid $greyec;
      order: 2;
      padding-right: 10px;
    }

    &--cart {
      width: 300px;
      text-align: right;
      padding-right: 50px;
      order: 5;
      padding-left: 0;
    }

    &--delivery {
      border: none;
      text-align: right;
      order: 8;
    }

    &--hidden {
      display: inline-block;
    }

    &--new {
      border: none;
      padding-left: 50px;
      order: 6;
    }

    &--sale {
      border: none;
      padding-right: 490px;
      order: 7;
      padding-left: 45px;
    }
  }

  .main-nav__link {
    &--catalog {
      font-size: 17px;
    }

    &--form {
      font-size: 17px;
    }

    &--new {
      font-size: $main-font-size;
    }

    &--sale {
      font-size: $main-font-size;
    }
  }
}
