.page-header {
  width: 320px;
  margin: 0 auto;
}

.page-header__title {
  text-align: center;
  font: bold 27px/30px $font-stack;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }

  padding-bottom: 122px;
  padding-top: 140px;
  margin: 0;
  padding-right: 37px;
  padding-left: 37px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
  }

  .page-header__title {
    padding-bottom: 490px;
    margin-top: -55px;

    @include second-title-tablet;
    background-size: cover;
    padding-top: 155px;
    background-image: url("../img/hero-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1150px;
  }

  .page-header__title {
    padding-bottom: 400px;
    margin-top: -55px;

    @include second-title-desktop;
    width: 1150px;
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}
