.page-form__title {
  padding-bottom: 70px;
  padding-top: 70px;
  font-size: 27px;
  line-height: 30px;
  background-color: #f1f1f1;
  padding-left: 30px;
}

.page-form__slogan {
  font-size: 13px;
  line-height: 24px;
  color: $primary-color;
  padding-left: 30px;
  padding-right: 30px;
}
