.popup-cart {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  display: none;
}

.popup-cart__title {
  @include second-title;
  text-transform: uppercase;
  padding-left: 80px;
  padding-right: 80px;
}

.popup-cart-form__content {
  border: none;
}

.popup-cart-form__title {
  line-height: 30px;
  color: $primary-color;
}

.popup-cart-form__label {
  font-size: 17px;
  line-height: 16px;
  color: $primary-color;
  text-transform: uppercase;
}

.popup-cart__button {
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  color: $white;
}

@media (min-width: $tablet-width) {
  .popup-cart {
    width: 570px;
  }
}
