
.production-video {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 60px;

  &:hover {
    box-shadow: 0 5px 16px 2px $greye6;
  }

  &:active {
    box-shadow: 0 5px 16px 0 $greye6;
  }
}

.production-video__content {
  border: 1px solid $greyed;
}

.production-video__title {
  font-size: 17px;
  margin: 0;
  padding-top: 20px;
  padding-left: 90px;
  padding-right: 0;
  padding-bottom: 25px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    top: 25px;
    left: 35px;
    background: transparent url("../img/icon-video.svg") no-repeat;
  }
}

.production-video__description {
  font-size: 13px;
  color: $primary-color;
  margin: 0;
  padding-bottom: 25px;
  padding-right: 10px;
}

.production-video__description-wrapper {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.production-video__movie {
  padding-bottom: 30px;
  position: relative;
}

.production-video__play {
  border: none;
  position: absolute;
  background-color: transparent;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-out;
  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.production-video__img {
  display: block;
}

.production-video__order {
  width: 195px;
}

@media (min-width: $tablet-width) {
  .production-video {
    width: 668px;
    margin-bottom: 65px;
  }

  .production-video__content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .production-video__title {
    order: 2;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 35px;
    padding-right: 0;
    padding-left: 105px;

    br {
      display: none;
    }

    &::after {
      top: 0;
      left: 40px;
    }
  }

  .production-video__order {
    width: 100%;
    order: 4;
  }

  .production-video__movie {
    order: 1;
  }

  .production-video__description {
    order: 3;
    font-size: $main-font-size;
    padding-bottom: 45px;
    padding-right: 0;
  }

  .production-video__description-wrapper {
    order: 3;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .production-video {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 105px;
  }

  .production-video__order {
    width: 230px;
  }

  .production-video__title {
    margin-right: -390px;
    margin-top: 95px;
    padding: 0;
    padding-right: 40px;
    padding-left: 40px;
    align-self: flex-start;

    &::after {
      top: -55px;
      left: 40px;
    }
  }

  .production-video__movie {
    width: 740px;
    padding-bottom: 0;
  }

  .production-video__content {
    flex-direction: row;
    padding: 0;
  }

  .production-video__description-wrapper {
    padding-top: 180px;
    width: 335px;
    padding-left: 80px;
  }

  .production-video__description {
    padding-bottom: 45px;
    line-height: 30px;
  }
}
