.production-video__content {
  border: 1px solid #ededed;
  padding: 20px;
  margin-top: 20px;
}

.production-video__title {
  font-size: 17px;
  line-height: 24px;
}

.production-video__description {
  font-size: 13px;
  line-height: 24px;
  color: $primary-color;
}
