
.production-video {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.production-video__content {
  border: 1px solid $greyed;
  display: flex;
  flex-direction: column;
}

.production-video__title {
  font-size: 17px;
  margin: 0;
  padding: 22px 0 25px 90px;
}

.production-video__description {
  font-size: 13px;
  color: $primary-color;
  margin: 0;
  padding-bottom: 50px;
}

.production-video__description-wrapper {
  margin: 0 30px 30px 30px;
}

.production-video__movie {
  padding-bottom: 25px;
  position: relative;
}

.production-video__play {
  border: none;
  position: absolute;
  background-color: transparent;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.production-video__img {
  display: block;
}

.production-video__order {
  width: 195px;
}

@media (min-width: $tablet-width) {
  .production-video {
    width: 668px;
  }

  .production-video__content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .production-video__title {
    order: 2;
    font-size: 20px;
    padding: 10px 0 35px 105px;

    br {
      display: none;
    }
  }

  .production-video__order {
    width: 100%;
    order: 4;
  }

  .production-video__movie {
    order: 1;
    // padding-bottom: 90px;
  }

  .production-video__description {
    order: 3;
    font-size: $main-font-size;
    padding-bottom: 40px;
  }

  .production-video__description-wrapper {
    order: 3;
    // margin: 0 42px 45px 44px;
  }
}

@media (min-width: $desktop-width) {
  .production-video {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 110px;
  }

  .production-video__order {
    width: 220px;
  }

  .production-video__title {
    margin-right: -370px;
    margin-top: 75px;
  }

  .production-video__movie {
    width: 685px;
    padding-bottom: 0;
  }

  .production-video__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .production-video__description-wrapper {
    padding-top: 185px;
    width: 350px;
    padding-left: 90px;
  }

  .production-video__description {
    padding-bottom: 65px;
  }
}
