.product {
  margin: 0 auto;
  margin-bottom: 70px;
  padding-left: 30px;
  width: 320px;
}

.product__title {
  @include second-title;
  padding-top: 30px;
}

.product__promo-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $secondary-color;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px;
}

.product__description {
  color: $primary-color;
  width: 250px;
  margin: 0;
  margin-bottom: 15px;
}

.product__list {
  line-height: 20px;
  color: $primary-color;
  border-collapse: collapse;
  margin-bottom: 28px;
}

.product__list-line {
  border-bottom: 1px solid $greyec;
}

.product__parameter {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
}

.product__value {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
}

.product__img {
  padding-bottom: 25px;
  display: block;
}

.product__price {
  display: block;
  padding-bottom: 25px;
  font-weight: bold;
  font-size: 17px;
  color: $primary-color;
  padding-right: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product {
    width: 768px;
    padding-left: 50px;
    position: relative;
    margin-bottom: 115px;
  }

  .product__img {
    position: absolute;
    top: 143px;
    right: 50px;
    z-index: -1;
  }

  .product__value {
    padding-right: 60px;
  }

  .product__title {
    @include second-title-tablet;
    display: inline-block;
    padding-right: 140px;
    padding-bottom: 50px;
    max-width: 600px;
  }

  .product__promo-title {
    display: inline-block;
    width: 70px;
    text-align: center;
    padding-top: 40px;
  }

  .product__description {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
    width: 300px;
  }

  .product__list {
    margin-bottom: 55px;
  }

  .product__price {
    font-size: 20px;
    line-height: $main-line-height;
    text-align: left;
    padding-left: 70px;
    padding-bottom: 35px;
  }

  .product__order {
    width: 290px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 1150px;
    margin-bottom: 155px;
  }

  .product__promo-title {
    display: block;
    width: 70px;
    margin-left: 50px;
    margin-top: -135px;
    margin-bottom: 30px;
  }

  .product__title {
    padding-left: 170px;
    max-width: 900px;

    @include second-title-desktop;
  }

  .product__img {
    top: -22px;
    right: 50px;
  }

  .product__description {
    margin-left: 175px;
    width: 285px;
    margin-bottom: 45px;
  }

  .product__list {
    margin-left: 175px;
    margin-bottom: 110px;
  }

  .product__price {
    padding-bottom: 35px;
    margin-left: 175px;
    width: 285px;
  }

  .product__order {
    margin-left: 175px;
  }
}
