.profile {
  padding-left: 30px;
  padding-right: 30px;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 55px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 7px;
    top: -35px;
    left: 0;
    background: transparent url("../img/bg-zigzag-line.svg") repeat;
    background-size: auto 7px;
  }
}

.profile__title {
  @include second-title;
  padding-bottom: 25px;
}

.profile__list {
  @include list-reset;
}

.profile__item {
  position: relative;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}

.profile__icon {
  display: block;
  margin-bottom: 20px;
  fill: $secondary-color;
}

.profile__icon-ecology {
  margin-left: 10px;
}

.profile__icon-likes {
  margin-left: 10px;
}

@media (min-width: $tablet-width) {
  .profile {
    width: 768px;
    padding-left: 50px;
    margin-bottom: 155px;

    &::before {
      width: 768px;
      height: 16px;
      top: -65px;
      background-size: auto 16px;
    }
  }

  .profile__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .profile__icon-ball {
    margin-top: 5px;
  }

  .profile__icon.profile__icon-gift {
    margin-bottom: 15px;
  }

  .profile__item {
    padding-right: 20px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 65px;

    &--love {
      order: 2;
      padding-right: 105px;
    }

    &--price {
      order: 3;
    }

    &--patriotism {
      order: 4;
      padding-right: 60px;
    }

    &--likes {
      order: 5;
      margin-bottom: 0;
    }

    &--gift {
      order: 6;
      padding-right: 120px;
    }
  }

  .profile__title {
    @include second-title-tablet;
    padding-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .profile {
    width: 1050px;
    padding-left: 175px;
    padding-right: 175px;
    margin-bottom: 160px;

    &::before {
      width: 1050px;
      height: 23px;
      top: -85px;
      background-size: auto;
    }
  }

  .profile__title {
    @include second-title-desktop;
    padding-bottom: 40px;
  }
}
