.profile {
  padding-left: 30px;
  padding-right: 30px;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.profile__title {
  @include second-title;
  padding-bottom: 85px;
}

.profile__list {
  @include list-reset;
}

.profile__item {
  // width: 250px;
  position: relative;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 110px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .profile {
    width: 768px;
    padding-left: 50px;
    margin-bottom: 160px;
  }

  .profile__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .profile__item {
    padding-right: 20px;
    font-size: 20px;
    line-height: 22px;

    &--love {
      order: 2;
      padding-right: 105px;
    }

    &--price {
      order: 3;
    }

    &--patriotism {
      order: 4;
      padding-right: 60px;
    }

    &--likes {
      order: 5;
      margin-bottom: 0;
    }

    &--gift {
      order: 6;
      padding-right: 120px;
    }
  }

  .profile__title {
    @include second-title-tablet;
    padding-bottom: 100px;
  }
}

@media (min-width: $desktop-width) {
  .profile {
    width: 1050px;
    padding-left: 175px;
    padding-right: 175px;
  }

  .profile__title {
    @include second-title-desktop;
    padding-bottom: 100px;
  }
}
