.reviews {
  margin: 0 auto;
  margin-bottom: 85px;
  padding-left: 30px;
  padding-right: 30px;
  width: 320px;
}

.reviews__title {
  @include second-title;
  padding-bottom: 20px;
}

.reviews__list {
  margin-bottom: 35px;
}

.reviews__text {
  width: 250px;
  line-height: 30px;
  color: $primary-color;
  margin: 0;
  padding-bottom: 30px;
}

.reviews__item {
  margin: 0;
  padding-bottom: 30px;
}

.reviews__author-name {
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
}

.reviews__author-email {
  font-size: 17px;
  line-height: 30px;
  color: $primary-color;
  font-weight: normal;
}

.reviews__prev {
  border: 1px solid $greyed;
  width: 130px;
  height: 52px;
  background: transparent url("../img/icon-left-arrow.svg") no-repeat;
  background-position: 35px 13px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__next {
  border: 1px solid $greyed;
  width: 130px;
  height: 52px;
  background: transparent url("../img/icon-right-arrow.svg") no-repeat;
  background-position: 35px 13px;
  margin-left: -5px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    margin-bottom: 130px;

    &::before {
      content: "";
      position: absolute;
      top: -75px;
      left: 0;
      background-image: url("../img/review@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/review@2x.jpg");
        background-size: 350px auto;
      }

      background-color: $greyed;
      width: 350px;
      height: 457px;
      margin: 0;
      z-index: -1;
    }
  }

  .reviews__text {
    width: 645px;
    padding-bottom: 55px;
    font-size: 17px;
    padding-top: 45px;
  }

  .reviews__author-name {
    display: block;
    font-size: 18px;
  }

  .reviews__title {
    padding-bottom: 35px;

    @include second-title-tablet;
    order: 1;
  }

  .reviews__content {
    display: flex;
    flex-direction: column;
  }

  .reviews__write {
    margin-left: auto;
    margin-top: -80px;
    width: 176px;
    order: 2;
  }

  .reviews__prev {
    position: absolute;
    bottom: 30px;
    right: 60px;
    border: none;
  }

  .reviews__next {
    position: absolute;
    bottom: 30px;
    right: -25px;
    border: none;
  }

  .reviews__list {
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1050px;
    padding: 0;
    padding-left: 175px;
    margin-bottom: 265px;
  }

  .reviews__title {
    @include second-title-desktop;
    padding-bottom: 40px;
  }

  .reviews__write {
    margin-top: -90px;
  }

  .reviews__text {
    width: 780px;
    padding-bottom: 40px;
  }
}
