.reviews {
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.reviews__title {
  @extend %second-title;
}

.reviews__list {
  margin-bottom: 30px;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  color: $primary-color;
}

.reviews__item {
  margin: 0;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
}

.reviews__author-email {
  font-size: 17px;
  line-height: 30px;
  color: $primary-color;
  font-weight: normal;
}
