.reviews {
  margin: 0 auto;
  margin-bottom: 88px;
  padding-left: 30px;
  padding-right: 30px;
  width: 320px;
}

.reviews__title {
  @include second-title;
  padding-bottom: 25px;
}

.reviews__list {
  margin-bottom: 55px;
}

.reviews__text {
  width: 250px;
  line-height: 30px;
  color: $primary-color;
  margin: 0;
  padding-bottom: 25px;
}

.reviews__item {
  margin: 0;
  padding-bottom: 40px;
}

.reviews__author-name {
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
}

.reviews__author-email {
  font-size: 17px;
  line-height: 30px;
  color: $primary-color;
  font-weight: normal;
}

.reviews__prev,
.reviews__next {
  // font-size: 0;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 768px;
    padding-left: 50px;
    position: relative;
    margin-bottom: 150px;

    &::before {
      content: "";
      position: absolute;
      top: -60px;
      left: 0;
      background-image: url("../img/review@1x.jpg");
      background-color: $greyed;
      width: 350px;
      height: 457px;
      margin: 0;
      z-index: -1;
    }
  }

  .reviews__text {
    width: 645px;
    padding-bottom: 50px;
    font-size: 17px;
    padding-top: 50px;
  }

  .reviews__author-name {
    display: block;
    font-size: 18px;
  }

  .reviews__title {
    padding-bottom: 50px;
    @include second-title-tablet;
    order: 1;
  }

  .reviews__content {
    display: flex;
    flex-direction: column;
  }

  .reviews__write {
    margin-left: auto;
    margin-top: -90px;
    width: 176px;
    order: 2;
  }

  .reviews__prev {
    position: absolute;
    bottom: 0;
    right: 100px;
  }

  .reviews__next {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .reviews__list {
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 880px;

    &::before {
      left: -80px;
    }
  }

  .reviews__title {
    @include second-title-desktop;
  }

  .reviews__write {
    margin-top: -90px;
  }
}
