.social {
  @include list-reset;
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 20px;
}


.social__link--facebook {
  padding: 0 40px;
}

.social__icon {
  &:hover {
    fill: $secondary-color;
  }

  &:active {
    fill: $secondary-color;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    width: 180px;
  }
}
