.social {
  @include list-reset;
  width: 320px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  padding-bottom: 20px;
}

.social__item {
  // font-size: 0;
}

@media (min-width: $tablet-width) {
  .social {
    width: 150px;
  }
}
